<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <title>Личный кабинет</title>
    {% import "macros.html" as macros %}
</head>

<body>
    <div class=menu>
        <ul>
            <li class=active><a href="{{ url_for("event") }}">Афиша</a></li>
            <form action="{{ url_for('event') }}" method="get">
                <input type="submit" name="user_logout" value="Выйти" class="btn-log">
            </form>
        </ul>
    </div>

    <div class="title">
        Панель администратора
    </div>

    <div class="admin_panel">
        <div class="admin_panel_left">
            <form action="{{ url_for('admin_profile') }}" method="get">
                <input type="submit" name="panel" value="Добавление" class="admin_panel_button">
                <input type="submit" name="panel" value="Редактирование" class="admin_panel_button">
                <input type="submit" name="panel" value="Оценки" class="admin_panel_button">
                <input type="submit" name="panel" value="Предложения" class="admin_panel_button">
            </form>
        </div>

        <div class="admin_panel_right">
            {% if admin_panel_button == 'Добавление' %}
                <div class="admin_panel_right_data">
                    {{ macros.admin_panel_add(theme_list, type_list, organizer_list, location_list, status_list, len, "admin") }}
                </div>
            {% elif admin_panel_button == 'Редактирование' %}
                <div class="admin_panel_right_data">
                    {{ macros.admin_panel_edit(all_events, checked_value, one_event_info, theme_list, type_list, organizer_list, location_list, status_list, len) }}
                </div>
            {% elif admin_panel_button == 'Оценки' %}
                <div class="admin_panel_right_data">
                    {{ macros.admin_panel_rate(user_rate, len) }}
                </div>
            {% elif admin_panel_button == 'Предложения' %}
                <div class="admin_panel_right_data">
                    {{ macros.admin_panel_new(suggest_event, len) }}
                </div>
            {% endif %}

            {{ macros.event_info(one_event_info, participants_list, "admin_profile", list_title, len) }}
        </div>
    </div>
</body>
</html>