<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>Афиша мероприятий</title>
    {% import "macros.html" as macros %}
</head>
<body>
    <div class=menu>
        <ul>
            <li class=active>Афиша</li>
            {% if user_role == "guest" %}
                <form action="{{ url_for('event') }}#open_user" method="get">
                    <input type="submit" name="user_login" value="Войти" class="btn-log">
                </form>
            {% elif user_role == "user" %}
                <li class=active><a href="{{ url_for("profile") }}">Личный кабинет</a></li>
            {% elif user_role == "admin" %}
                <li class=active><a href="{{ url_for("admin_profile") }}">Личный кабинет</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="sort_event">
        <form action="{{ url_for('event') }}" method="post">
            <label>
                <select name="select-list" class="select-list">
                    <option {% if title == 'None' or title == 'Рекомендуемая сортировка' %} selected {% endif %}>Рекомендуемая сортировка</option>
                    <option {% if title == 'Отсортировать по алфавиту ↓' %} selected {% endif %}>Отсортировать по алфавиту ↓</option>
                    <option {% if title == 'Отсортировать по алфавиту ↑' %} selected {% endif %}>Отсортировать по алфавиту ↑</option>
                    <option {% if title == 'Отсортировать по дате ↓' %} selected {% endif %}>Отсортировать по дате ↓</option>
                    <option {% if title == 'Отсортировать по дате ↑' %} selected {% endif %}>Отсортировать по дате ↑</option>
                    <option {% if title == 'Отсортировать по статусу ↓' %} selected {% endif %}>Отсортировать по статусу ↓</option>
                    <option {% if title == 'Отсортировать по статусу ↑' %} selected {% endif %}>Отсортировать по статусу ↑</option>
                </select>
            </label>
            <input type="submit" value="Отсортировать" class="btn sort">
        </form>
    </div>

    <div class=box_for_all>
        <div class=add_menu>
            <form action="" method="post">
                {{ macros.render_table("Тип", type_list,session['types'], len) }}
                {{ macros.render_table("Тема", theme_list,session['themes'], len) }}
                {{ macros.render_table("Организатор", organizer_list,session['organizers'], len) }}

                <fieldset>
                    <legend><strong>Дата</strong></legend>
                    <p class="left_filter">С
                        {% if session['start_date'] == "0000-00-00" %}
                            <label>
                                <input type="text" name="start_date">
                            </label>
                        {% else %}
                            <label>
                                <input type="text" name="start_date"
                                       value="{{ session['start_date'][8:11] + '.' + session['start_date'][5:7]+ '.' + session['start_date'][0:4] }}">
                            </label>
                        {% endif %}
                    </p>

                    <p class="left_filter">По
                        {% if session['end_date'] == "9999-99-99" %}
                            <label>
                                <input type="text" name="end_date">
                            </label>
                        {% else %}
                            <label>
                                <input type="text" name="end_date"
                                       value="{{ session['end_date'][8:11] + '.' + session['end_date'][5:7]+ '.' + session['end_date'][0:4] }}">
                            </label>
                        {% endif %}
                    </p>
                </fieldset>

                <fieldset>
                    <legend><strong>Время</strong></legend>
                    <p class="left_filter">С
                        {% if session['start_time'] == "00:00" %}
                            <label>
                                <input type="text" name="start_time">
                            </label>
                        {% else %}
                            <label>
                                <input type="text" name="start_time" value="{{ session['start_time'] }}">
                            </label>
                        {% endif %}
                    </p>

                    <p class="left_filter">По
                        {% if session['end_time'] == "23:59" %}
                            <label>
                                <input type="text" name="end_time">
                            </label>

                        {% else %}
                            <label>
                                <input type="text" name="end_time" value="{{ session['end_time'] }}">
                            </label>

                        {% endif %}
                    </p>
                </fieldset>

                {{ macros.render_table("Площадка",location_list,session['locations'],len) }}
                {{ macros.render_table("Статус",status_list,session['status'],len) }}
                <input type="submit" value="Найти" name="search" class="btn filter">
                <input type="submit" value="Очистить" name="clear" class="btn filter">
            </form>
        </div>

        <form action="" method="get">
            <div class="all_events_box">
                <div class="info">
                    <div class="title title-2">Найдены мероприятия в количестве:
                    {% if len(events.index) == 0 %}
                        ничего не найдено.
                    {% else %}
                        {{ len(events.index) }}. Из них актуально: {{ len(events[events['status_name'] == 'Актуально']) }}.
                    {% endif %}
                    </div>
                </div>

                {% for i in range(len(events)) %}
                    {% if participants_list[participants_list['event_id'] == events['event_id'].values[i]]['coun'].values[0] == null %}
                        {% set parti = 1 %}
                    {% else %}
                        {% set parti = participants_list[participants_list['event_id'] == events['event_id'].values[i]]['coun'].values[0] %}
                    {% endif %}

                    <div
                            {% if parti / events['participants'].values[i] * 100 > 30 and parti != events['participants'].values[i] %}
                                class="container_box_one_event_super"
                            {% else %}
                                class="container_box_one_event"
                            {% endif %}
                    >
                        {% if events['status_id'].values[i] == 2 %}
                            <div class="warning">
                                Внимание! Мероприятие было перенесено на
                                {{ events['beginning_date'].values[i][8:11] + '.' + events['beginning_date'].values[i][5:7]+ '.' + events['beginning_date'].values[i][0:4] }}!
                            </div>
                        {% endif %}

                        {% if events['status_id'].values[i] == 3 %}
                            <div class="warning">
                                Внимание! Мероприятие было отменено!
                            </div>
                        {% endif %}

                        {% if events['status_id'].values[i] == 4 %}
                            <div class="warning">
                                Мероприятие завершено.
                            </div>
                        {% endif %}

                        <p class="event-title">
                            {{ events['event_name'].values[i] }}
                        </p>

                        <p>
                            <img src="{{ events['picture'].values[i] }}" alt="" width="280px" height="auto">
                        </p>

                        <p class="event-caption">
                            {{ events['type_name'].values[i] }}
                        </p>

                        <p>
                            Тема:
                            {{ events['theme_name'].values[i] }}
                        </p>

                        <p>
                            Количество участников:
                            {{ events['participants'].values[i] }}
                        </p>

                        <p>
                            Дата:
                            {{ events['beginning_dat'].values[i] }}
                        </p>

                        <p>
                            Время:
                            {{ events['start_time'].values[i] }}
                        </p>

                        <p>
                            Место проведения:
                            {{ events['location_name'].values[i] }}
                        </p>

                        <div class="relevance">
                            {% if (events['status_id'].values[i] == 3) or (events['status_id'].values[i] == 4) %}
                                {{ events['status_name'].values[i] }}
                            {% else %}
                                {% if events['status_id'].values[i] == 1 %}
                                    <div class="relevance_green">
                                        {{ events['status_name'].values[i] }}
                                    </div>
                                {% else %}
                                    <div class="relevance_yellow">
                                        {{ events['status_name'].values[i] }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>

                        <div class="buttons">
                            {% if (events['event_id'].values[i] in user_event_list) and (events['status_id'].values[i] == 1) and (user_role != "admin") %}
                                <form action='' method="get">
                                    <input type="hidden" name="cancel" value={{ events['event_id'].values[i] }}>
                                    <input type="submit" value="Отменить участие" class="btn sort">
                                </form>
                            {% else %}
                                {% if ((events['status_id'].values[i] == 3) or (events['status_id'].values[i] == 4)) and (user_role != "admin") %}
                                    <input type="submit" disabled value="Участвовать" class="btn sort">
                                {% else %}
                                    {% set parti = participants_list[participants_list['event_id'] == events['event_id'].values[i]]['coun'].values[0] %}
                                    {% if (parti == null or events['participants'].values[i] != parti) and (user_role != "admin") %}
                                        <form action="" method="get">
                                            <input type="hidden" name="registration" value={{ events['event_id'].values[i] }}>
                                            <input type="submit" value="Участвовать" class="btn sort">
                                        </form>
                                    {% else %}
                                        <form action="" method="get">
                                            <input type="submit" disabled value="Участвовать" class="btn sort">
                                        </form>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            <form action="{{ url_for('event') }}#open_info_event" method="get">
                                <input type="hidden" name="choice_event" value={{ events['event_id'].values[i] }}>
                                <input type="submit" value="Подробнее" class="btn sort">
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>

    {{ macros.event_info(event_info, participants_list, "event", len) }}

    {% if type_auth != '' %}
    <div id="open_user" class="info_about_event">
        <div class="modal_auth-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="" method="get">
                        <a href="#close_info" title="Close" class="close">×</a>
                        <div class="auth">
                            <label>
                               Логин: <input type="text" name="login" class="input_auth">
                            </label>
                            <label>
                                Пароль: <input type="text" name="password" class="input_auth">
                            </label>
                            <input type="submit" name="type_auth" value="{{ type_auth }}" class="btn filter">
                            <input type="submit" name="reg" value="{{ reg }}" class="btn filter">
                            <label class="error">
                                {{ text }}
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</body>
</html>