<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>Афиша мероприятий</title>
    {% import "macros.html" as macros %}
</head>
<body>
    <div class=menu>
        <ul>
            <li class=active>Афиша</li>
            {% if user_role == "guest" %}
                <form action="{{ url_for('event') }}#open_user" method="get">
                    <input type="submit" name="user_login" value="Войти" class="btn-log">
                </form>
            {% elif user_role == "user" %}
                <li class=active><a href="{{ url_for("profile") }}">Личный кабинет</a></li>
            {% elif user_role == "admin" %}
                <li class=active><a href="{{ url_for("admin_profile") }}">Личный кабинет</a></li>
            {% endif %}
        </ul>
    </div>

    {{ macros.render_sort(title, 'event') }}

    <div class=box_for_all>
        <div class=add_menu>
            <form action="" method="post">

                {{ macros.render_table("Тип", type_list,session['types'], len) }}
                {{ macros.render_table("Тема", theme_list,session['themes'], len) }}
                {{ macros.render_table("Организатор", organizer_list,session['organizers'], len) }}

                <fieldset>
                    <legend><strong>Дата</strong></legend>
                    <p class="left_filter">С
                        {% if session['start_date'] == "0000-00-00" %}
                            <label>
                                <input type="text" name="start_date">
                            </label>
                        {% else %}
                            <label>
                                <input type="text" name="start_date"
                                       value="{{ session['start_date'][8:11] + '.' + session['start_date'][5:7]+ '.' + session['start_date'][0:4] }}">
                            </label>
                        {% endif %}
                    </p>

                    <p class="left_filter">По
                        {% if session['end_date'] == "9999-99-99" %}
                            <label>
                                <input type="text" name="end_date">
                            </label>
                        {% else %}
                            <label>
                                <input type="text" name="end_date"
                                       value="{{ session['end_date'][8:11] + '.' + session['end_date'][5:7]+ '.' + session['end_date'][0:4] }}">
                            </label>
                        {% endif %}
                    </p>
                </fieldset>

                <fieldset>
                    <legend><strong>Время</strong></legend>
                    <p class="left_filter">С
                        {% if session['start_time'] == "00:00" %}
                            <label>
                                <input type="text" name="start_time">
                            </label>
                        {% else %}
                            <label>
                                <input type="text" name="start_time" value="{{ session['start_time'] }}">
                            </label>
                        {% endif %}
                    </p>

                    <p class="left_filter">По
                        {% if session['end_time'] == "23:59" %}
                            <label>
                                <input type="text" name="end_time">
                            </label>

                        {% else %}
                            <label>
                                <input type="text" name="end_time" value="{{ session['end_time'] }}">
                            </label>

                        {% endif %}
                    </p>
                </fieldset>

                {{ macros.render_table("Площадка",location_list,session['locations'],len) }}
                {{ macros.render_table("Статус",status_list,session['status'],len) }}
                <input type="submit" value="Найти" name="search" class="btn filter">
                <input type="submit" value="Очистить" name="clear" class="btn filter">
            </form>
        </div>

        <form action="" method="get">
            <div class="all_events_box">
                <div class="info">
                    <div class="title title-2">Найдены мероприятия в количестве:
                    {% if len(events.index) == 0 %}
                        ничего не найдено.
                    {% else %}
                        {{ len(events.index) }}. Из них актуально: {{ len(events[events['status_name'] == 'Актуально']) }}.
                    {% endif %}
                    </div>
                </div>
            {{ macros.render_event_list(events, "event", participants_list, user_role, user_event_list, len, list_title) }}
            </div>
        </form>
    </div>

    {{ macros.event_info(event_info, participants_list, "event", list_title, len) }}

    {% if type_auth != '' %}
    <div id="open_user" class="info_about_event">
        <div class="modal_auth-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="" method="get">
                        <a href="#close_info" title="Close" class="close">×</a>
                        <div class="auth">
                            <label>
                               Логин: <input type="text" name="login" class="input_auth">
                            </label>
                            <label>
                                Пароль: <input type="text" name="password" class="input_auth">
                            </label>
                            <input type="submit" name="type_auth" value="{{ type_auth }}" class="btn filter">
                            <input type="submit" name="reg" value="{{ reg }}" class="btn filter">
                            <label class="error">
                                {{ message_error }}
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</body>
</html>