<!DOCTYPE html>

{% macro render_option(name, list, len) %}
    <label>
        <select name= {{ name }}>
            {% set n = len(list) %}
            {% for i in range(n) %}
                {% set id = i %}
                <option value="{{ id + 1 }}">
                    {{ list.loc[i,"name"] }}
                </option>
            {% endfor %}
        </select>
    </label>
    <br><br>
{% endmacro %}

{% macro render_option_edit(name, choice, list, len) %}
    <br>
    <select name="{{ name }}">
        {% set n = len(list) %}
        {% for i in range(n) %}
            {% set id = i %}
            {% if choice == list.loc[i, "name"] %}
                <option value="{{id + 1 }}" selected>
                    {{ list.loc[i, "name"] }}
                </option>
            {% else %}
                <option value="{{ id + 1 }}">
                    {{ list.loc[i, "name"] }}
                </option>
            {% endif %}
        {% endfor %}
    </select>
    <br>
{% endmacro %}

<!--Макрос для вывода добавления мероприятий на панели администратора-->
{% macro admin_panel_add(theme_list, type_list, organizer_list, location_list, status_list, len, panel) %}
    {% if panel == "admin" %}
        <form action="{{ url_for('admin_profile') }}" method="get">
    {% else %}
        <form action="{{ url_for('suggest_event') }}" method="get">
    {% endif %}

        Название
        <label>
            <input type="text" name="new_event_name" placeholder="">
        </label>
        <br><br>

        Тема
        {{ render_option("theme", theme_list, len) }}

        Тип
        {{ render_option("type", type_list, len) }}

        Организатор
        {{ render_option("organizer", organizer_list, len) }}

        Площадка
        {{ render_option("location", location_list, len) }}

        Место проведения
        <label>
            <input type="text" name="new_event_venue" placeholder="">
        </label>
        <br><br>

        {% if panel == "admin" %}
            Выберите статус
            {{ render_option("status", status_list, len) }}
        {% endif %}

        Введите количество участников
        <label>
            <input type="text" name="new_event_part" placeholder="">
        </label>
        <br><br>

        Дата начала
        <label>
            <input type="text" name="new_event_beginning_date" placeholder="">
        </label>
        <br><br>

        Дата окончания
        <label>
            <input type="text" name="new_event_expiration_date" placeholder="">
        </label>
        <br><br>

        Время начала
        <label>
            <input type="text" name="start_time" placeholder="">
        </label>

        Время окончания
        <label>
            <input type="text" name="end_time" placeholder="">
        </label>
        <br><br>

        Афиша или фотография
        <label>
            <input type="text" name="picture" placeholder="">
        </label>
        <br><br>

        Введите описание мероприятия
        <br>
        <label>
            <textarea name="new_event_description"></textarea>
        </label>
        {% if panel == "suggest" %}
            <div class="admin_panel_right_data_text">
                Контактная почта для связи:
                <label>
                    <input type="text" name="suggest_event_mail" placeholder="">
                </label>
            </div>
        {% endif %}

        {% if panel == "admin" %}
            <input type="submit" name="add_new_event" value="Добавить новое мероприятие">
        {% else %}
            <input type="submit" name="add_suggest_event" value="Добавить новое мероприятие">
        {% endif %}
    </form>
{% endmacro %}

<!--Макрос для вывода редактирования на панели администратора-->
{% macro admin_panel_edit(all_events, checked_value, one_event_info, theme_list, type_list, organizer_list, location_list, status_list, len) %}
    <div class="edit_big_box">
        {% if checked_value == False %}
            {% for i in range(len(all_events)) %}
                <div class="edit_small_box">
                    <form action="{{ url_for('admin_profile') }}#open_info_event" method="get">
                        {{ all_events.loc[i, 'event_name'] }}
                        <input type="hidden" name="choice_event" value={{ all_events['event_id'].values[i] }}>
                        <input type="submit" value="Подробнее">
                    </form>

                    <form action="" method="get">
                        <input type="submit" value="Изменить">
                        <input type="hidden" name="is_edit_event" value={{ all_events['event_id'].values[i] }}>
                    </form>

                    <form action="" method="get">
                        <input type="submit" value="Удалить">
                        <input type="hidden" name="delete_event" value={{ all_events['event_id'].values[i] }}>
                    </form>
                </div><br>
            {% endfor %}
        {% else %}
            <form action="" method="get">
                <div class="admin_panel_right_data_text">
                    Название:
                    <label>
                        <input type="text" name="edit_event_name" value="{{ one_event_info['event_name'].values[0] }}">
                    </label>
                </div>

                <div class="admin_panel_right_data_text">
                    Тема:
                    {{ render_option_edit("edit_theme", one_event_info['theme_name'].values[0], theme_list, len) }}
                </div>

                <div class="admin_panel_right_data_text">
                    Тип:
                    {{ render_option_edit("edit_type", one_event_info['type_name'].values[0], type_list, len) }}
                </div>

                <div class="admin_panel_right_data_text">
                    Количество участников:
                    <label>
                        <input type="text" name="edit_event_participants" value="{{ one_event_info['participants'].values[0] }}">
                    </label>
                </div>

                <div class="admin_panel_right_data_text">
                    Дата начала:
                    <label>
                        <input type="text" name="edit_event_beginning_dat" value="{{ one_event_info['beginning_dat'].values[0] }}">
                    </label>
                    Дата окончания:
                    <input type="text" name="edit_event_expiration_dat"
                           value="{{ one_event_info['expiration_dat'].values[0] }}"
                           style="width: 15vw; margin-left: 5px">
                </div>

                <div class="admin_panel_right_data_text">
                    Время начала:
                    <label>
                        <input type="text" name="edit_event_start_time"
                               value="{{ one_event_info['start_time'].values[0] }}">
                    </label>
                    Время окончания:
                    <label>
                        <input type="text" name="edit_event_end_time" value="{{ one_event_info['end_time'].values[0] }}">
                    </label>
                </div>

                <div class="admin_panel_right_data_text">
                    Организатор:
                    {{ render_option_edit("edit_organizer", one_event_info['organizer_name'].values[0], organizer_list, len) }}
                </div>

                <div class="admin_panel_right_data_text">
                    Площадка проведения:
                    {{ render_option_edit("edit_location", one_event_info['location_name'].values[0], location_list, len) }}
                </div>

                <div class="admin_panel_right_data_text">
                    Место проведения:
                    <input type="text" name="edit_event_venue" value="{{ one_event_info['venue_name'].values[0] }}">
                </div>

                <div class="admin_panel_right_data_text">
                    Статус:
                    {{ render_option_edit("edit_status", one_event_info['status_name'].values[0], status_list, len) }}
                </div>

                <div class="admin_panel_right_data_text">
                    Афиша или фотография:
                    <input type="text" name="edit_event_picture" value="{{ one_event_info['picture'].values[0] }}">
                </div>

                <div class="admin_panel_right_data_text">
                    Описание:
                </div>

                <label>
                    <textarea name="edit_event_description" value="{{ one_event_info['description'].values[0] }}">{{ one_event_info['description'].values[0] }}</textarea>
                </label>

                <input type="submit" name="edit_event" value="Отредактировать мероприятие">
            </form>
        {% endif %}
    </div>
{% endmacro %}

<!--Макрос для вывода оценок на панели администратора-->
{% macro admin_panel_rate(user_rate, len) %}
    Оценки мероприятий<br>
    <div class="rate_big_box">
        {% for i in range(len(user_rate)) %}
            <div class="rate_small_box">
                <cool_text>Логин:</cool_text>
                {{ user_rate.iloc[i, 0] }}
                <br>
                <cool_text>Мероприятие:</cool_text>
                {{ user_rate.iloc[i, 2] }}
                <br>
                <cool_text>Дата мероприятия:</cool_text>
                {{ user_rate.iloc[i, 3] }}
                <br>
                {{ user_rate.iloc[i, 1] }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

<!--Макрос для вывода предложенных мероприятий на панели администратора-->
{% macro admin_panel_new(events, len) %}
    Предложенные мероприятия
    <form action="" method="get">
        <div class="all_events_box_suggest"><br>
            {% for i in range(len(events)) %}
                <div class="container_box_one_event">
                    <br>Название:
                    <p>{{ events['event_name'].values[i] }}</p>

                    <br>Контактная почта:
                    <p>{{ events['mail'].values[i] }}</p><br>
                    <img src="{{ events['picture'].values[i] }}" alt="" width="280px" height="auto">

                    <form action="" method="get">
                        <input type="submit" value="Принять">
                        <input type="hidden" name="add_suggest_event" value={{ events['event_id'].values[i] }}>
                    </form>

                    <form action="" method="get">
                        <input type="submit" value="Отклонить">
                        <input type="hidden" name="delete_suggest_event" value={{ events['event_id'].values[i] }}>
                    </form>

                    <form action="{{ url_for('admin_profile') }}#open_info_event" method="get">
                        <input type="hidden" name="choice_event_suggest" value={{ events['event_id'].values[i] }}>
                        <input type="submit" value="Подробнее">
                    </form>
                </div>
            {% endfor %}
        </div>
    </form>
{% endmacro %}

{% macro render_table(table_name, relation,choice_list,len) %}
    <fieldset>
        <legend>
            <strong>
                {{ table_name }}
            </strong>
        </legend>

        {% for i in range(len(relation)) %}
            <label>
                {% set value=relation.iloc[i, 0] %}
                <input type="checkbox" name="{{ table_name }}" value="{{ value }}"
                        {% if value in choice_list %} checked {% endif %}>
            </label>
            {{ value }} ({{ relation.iloc[i, 1] }})<br>
        {% endfor %}
    </fieldset>
{% endmacro %}

{% macro render_event_list(events, name, len) %}
    <form action="" method="get">
        <div class="all_events_box">
            <br>
            {% for i in range(len(events)) %}
             <div class="container_box_one_event">
                {% if events['status_id'].values[i] == 2 %}
                    <p>
                        Внимание! Мероприятие было перенесено на {{ events['beginning_date'].values[i] }}!
                    </p><br>
                {% endif %}

                {% if events['status_id'].values[i] == 3 %}
                    <p>
                        Внимание! Мероприятие было отменено!
                    </p><br>
                {% endif %}

                {% if events['status_id'].values[i] == 4 %}
                    <p>
                        Мероприятие завершено.
                    </p><br>
                {% endif %}

                <br>Название:
                <p>{{ events['event_name'].values[i] }}</p><br>
                <img src="{{ events['picture'].values[i] }}" alt="" width="280px" height="auto">

                <br>Тип:
                <p>{{ events['type_name'].values[i] }}</p><br>

                <br>Тема:
                <p>{{ events['theme_name'].values[i] }}</p><br>

                <br>Количество участников:
                <p>{{ events['participants'].values[i] }}</p><br>

                <br>Дата:
                <p>{{ events['beginning_date'].values[i] }}</p><br>

                <br>Время:
                <p>{{ events['start_time'].values[i] }}</p><br>

                <br>Место проведения:
                <p>{{ events['location_name'].values[i] }}</p><br>

                <br>Статус:
                {% if (events['status_id'].values[i] == 3) or (events['status_id'].values[i] == 4) %}
                    <p>{{ events['status_name'].values[i] }}</p>
                {% else %}
                    {% if events['status_id'].values[i] == 1 %}
                        <p>{{ events['status_name'].values[i] }}</p>
                    {% else %}
                        <p>{{ events['status_name'].values[i] }}</p>
                    {% endif %}
                {% endif %}
                <br><br>

                {% if (events['status_id'].values[i] == 1) or (events['status_id'].values[i] == 2) %}
                    <div class="buttons">
                    <form action="" method="get">
                        <input type="hidden" name="cancel" value={{ events['event_id'].values[i] }}>
                        <input type="submit" value="Отменить участие">
                    </form>
                {% else %}
                    {% if (events['status_id'].values[i] == 3) %}
                        <div class="buttons">
                        <form action="" method="get">
                            <input type="hidden" name="cancel" value={{ events['event_id'].values[i] }}>
                            <input type="submit" value="Удалить из списка">
                        </form>
                    {% else %}
                        <div class="buttons">
                        <form action="" method="get">
                            <input type="hidden" name="to_rate" value={{ events['event_id'].values[i] }}>
                            <input type="submit" value="Оценить мероприятие">
                        </form>
                    {% endif %}
                {% endif %}

                <form action="{{ url_for(name) }}#open_info_event" method="get">
                    <input type="hidden" name="choice_event" value={{ events['event_id'].values[i] }}>
                    <input type="submit" value="Подробнее">
                </form>
                        </div>
                        </div>
            {% endfor %}
            </div>
            </div>
        </div>
    </form>
{% endmacro %}


{% macro event_info(event_info, participants_list, name, len) %}
    <div id="open_info_event" class="info_about_event">
        <div class="modal-dialog">
            <div class="modal-content">
                <a href="#close_info" title="Close" class="close">×</a>
                <form action="{{ url_for(name) }}#close_info" method="get">
                    <div class="modal-body">
                        <br>Название:
                        <p>{{ event_info['event_name'].values[0] }}</p><br>
                        <img src="{{ event_info['picture'].values[0] }}" alt="" width="520px" height="auto"><br>

                        <br>Тип:
                        <p>{{ event_info['type_name'].values[0] }}</p><br>

                        <br>Тема:
                        <p>{{ event_info['theme_name'].values[0] }}</p><br>

                        <br>Организатор:
                        <p>{{ event_info['organizer_name'].values[0] }}</p><br>

                        <br>Количество участников:
                        <p>{{ event_info['participants'].values[0] }}</p><br>

                        <br>Количество зарегистрировавшихся на мероприятие:

                        {#                           {% if len(participants_list[participants_list['event_id'] == event_info['event_id'].values[0]]['coun']) != 0 %}#}
                        {#                                <p4>#}
                        {#                                    {{ participants_list[participants_list['event_id'] == event_info['event_id'].values[0]]['coun'].values[0] }}#}
                        {#                                </p4>#}
                        {#                            {% else %}#}
                        {#                                0#}
                        {#                            {% endif %}#}

                        <br>

                        {% if event_info['beginning_dat'].values[0] == event_info['expiration_dat'].values[0] %}
                            <br>Дата мероприятия:
                            <p>{{ event_info['beginning_dat'].values[0] }}</p>
                        {% else %}
                            Дата мероприятия:
                            <p> {{ event_info['beginning_dat'].values[0] }} - {{ event_info['expiration_dat'].values[0] }}</p>
                        {% endif %}<br>

                        <br>Время:
                        <p>{{ event_info['start_time'].values[0] }} - {{ event_info['end_time'].values[0] }}</p>
                        <br>

                        <br>Площадка:
                        <p>{{ event_info['location_name'].values[0] }}</p>
                        <br>

                        <br>Место проведения:
                        <p>{{ event_info['venue_name'].values[0] }}</p>
                        <br>

                        <br>Статус:
                        <p>{{ event_info['status_name'].values[0] }}</p><br><br>

                        <br>Описание:<br>
                        <p>{{ event_info['description'].values[0] }}</p><br>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endmacro %}
