<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>Афиша мероприятий</title>
    {% import "macros.html" as macros %}
</head>

<body>
    <div class=menu>
        <ul>
            <li class=active><a href="{{ url_for("event") }}">Афиша</a></li>
            <li class=active><a href="{{ url_for("suggest_event") }}">Предложить мероприятие</a></li>
            <form action="{{ url_for('event') }}" method="get">
                <input type="submit" name="user_logout" value="Выйти" class="btn-log">
            </form>
        </ul>
    </div>

    {{ macros.render_sort(title, 'profile') }}

    <div class=box_for_all>
        {% if len(status_list) != 0 %}
            <div class="add_menu">
                <form action="" method="post">
                    {{ macros.render_table("Статус мероприятия", status_list, session['status_user'], len) }}
                    <input type="submit" value="Найти" name="search" class="btn filter">
                    <input type="submit" value="Очистить" name="clear" class="btn filter">
                </form>
            </div>
            <form action="" method="get">
                <div class="title">
                    {% if len(status_list) != 0 %}
                        Мероприятия, на которые вы зарегистрировались
                    {% else %}
                        Вы еще не зарегистрировались ни на одно мероприятие
                    {% endif %}
                </div>

                <div class="all_events_box">
                    {{ macros.render_event_list(events, "profile", participants_list, user_role, user_event_list, len, list_title) }}
                </div>
            </form>
        {% endif %}
    </div>

    {{ macros.event_info(event_info, participants_list, "profile", list_title, len) }}

    {% if rate_window == True %}
    <form action="" method="get">
        <div class="cl-btn-7" name="close_button"></div>
        <div class="close_button3">
            <input type="submit" value="">
        </div>
    </form>

    <div class="rate">
        <form action="" method="get">
            <div class="title title-2">
                Оставьте обратную связь и оцените мероприятие
            </div>
            <label>
                <select name="rate_box" class="select-list">
                    <option>Всё очень понравилось</option>
                    <option>Всё было хорошо</option>
                    <option>Были недостатки</option>
                    <option>Совершенно не понравилось</option>
                </select>
            </label>

            <label>
                <textarea name="rate_text" class="rate_text" placeholder="Оцените мероприятие..."></textarea>
            </label>
            <input type="submit" value="Отправить" name="to_rate_event" class="btn send">
        </form>
    </div>
    {% endif %}

    <form action="{{url_for('event')}}" method="get">
        <input type="submit" name="remove_profile_button" value="Удалить аккаунт" class="btn">
    </form>
</body>
</html>