<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>Афиша мероприятий</title>
    {% import "macros.html" as macros %}
</head>

<body>
    <div class=menu>
        <ul>
            <li class=active><a href="{{ url_for("event") }}">Афиша</a></li>
            <li class=active><a href="{{ url_for("suggest_event") }}">Предложить мероприятие</a></li>
            <form action="{{ url_for('event') }}" method="get">
                <input type="submit" name="user_logout" value="Выйти">
            </form>
        </ul>
    </div>

    <div class="sort">
        <form action="{{ url_for('profile') }}" method="post">
            <label>
                <select name="list">
                    <option {% if title == 'None' or title == 'Рекомендуемая сортировка' %} selected {% endif %}>Рекомендуемая сортировка</option>
                    <option {% if title == 'Отсортировать по алфавиту ↓' %} selected {% endif %}>Отсортировать по алфавиту ↓</option>
                    <option {% if title == 'Отсортировать по алфавиту ↑' %} selected {% endif %}>Отсортировать по алфавиту ↑</option>
                    <option {% if title == 'Отсортировать по дате ↓' %} selected {% endif %}>Отсортировать по дате ↓</option>
                    <option {% if title == 'Отсортировать по дате ↑' %} selected {% endif %}>Отсортировать по дате ↑</option>
                    <option {% if title == 'Отсортировать по статусу ↓' %} selected {% endif %}>Отсортировать по статусу ↓</option>
                    <option {% if title == 'Отсортировать по статусу ↑' %} selected {% endif %}>Отсортировать по статусу ↑</option>
                </select>
            </label>
            <input type="submit" value="Отсортировать">
        </form>
    </div>

    <div class=box_for_all_profile>
        {% if len(status_list) != 0 %}
            <h1>Мероприятия на которые вы зарегистрировались</h1>
        {% else %}
            <h1>Вы еще не зарегистрировались ни на одно мероприятие</h1>
        {% endif %}

        <div class="box_for_all_profile_wt_text">
            {% if len(status_list) != 0 %}
                <div class=add_menu_user>
                    <form action="" method="post">
                        {{ macros.render_table("Статус мероприятия", status_list, session['status_user'], len) }}
                        <input type="submit" value="Найти" name="search">
                        <input type="submit" value="Очистить" name="clear">
                    <br><br>
                    </form>
                </div>
            {% else %}
                {{ macros.render_event_list(events, "profile", len) }}
            {% endif %}
        </div>
    </div>

    {{ macros.event_info(event_info, participants_list, "profile", len) }}

    {% if rate_window == True %}
    <form action="" method="get">
        <div class="cl-btn-7" name="close_button"></div>
        <div class="close_button3">
            <input type="submit" value="">
        </div>
    </form>

    <div class="rate">
        <form action="" method="get">
            <p>Оставьте обратную связь и оцените мероприятие</p><br>
            <label>
                <select name="rate_box">
                    <option>Всё очень понравилось</option>
                    <option>Всё было хорошо</option>
                    <option>Были недостатки</option>
                    <option>Совершенно не понравилось</option>
                </select>
            </label>

            <label>
                <textarea name="rate_text" placeholder="Оцените мероприятие..."></textarea>
            </label>
            <input type="submit" value="Отправить" name="to_rate_event">
        </form>
    </div>
    {% endif %}

    <form action="{{url_for('event')}}" method="get">
        <input type="submit" name="remove_profile_button" value="Удалить аккаунт">
    </form>
</body>
</html>