<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>Афиша мероприятий</title>
    {% import "macros.html" as macros %}
</head>
<body>
<div class=menu>
    <ul>
        <li class=active><a href={{ url_for("event")}}>Афиша</a></li>
        <form action={{url_for('event')}} method="get">
            <input type="submit" name="user_logout" value="Выйти"
                   style="background:#fc6c85;  color: #fff0f5; height:100%; border: none;">
        </form>
    </ul>
</div>


<div class=box_for_all_profile>
    {% if len(status_list) != 0 %}
    <h1 style="">Мероприятия на которые вы зарегистрировались</h1>
    {%else%}
    <h1 style="">Вы еще не зарегистрировались ни на одно мероприятие.</h1>
    {%endif%}
    {% if len(status_list) != 0 %}
    <div class="box_for_all_profile_wt_text">
        <div class=add_menu_user>
            <form action="" method="post">
                {{macros.render_table("Статус мероприятия",status_list,session['status_user'],len)}}
                <input type="submit" value="Найти" name="search"
                       style="background:#fc6c85;  color: #fff0f5; margin-top:3%; margin-left:15%;">
                <input type="submit" value="Очистить" name="clear"
                       style="background:#fc6c85;  color: #fff0f5; margin-top:3%; margin-left:10%;">
                <br><br>
            </form>
        </div>
        {% endif %}

{{ macros.render_event_list(events, len) }}

    </div>
</div>


{% if info_ == 1 %}
<div class="info_about_event_gray">
</div>
<form action="" method="get">
    <div class="cl-btn-7" name="close_button"></div>
    <div class="close_button">
        <input type="submit" value=" ">
    </div>
</form>
<div class="info_about_event">
    <br>Название:
    <p4>{{ event_info['event_name'].values[0]}}</p4>
    <br>
    <br>Тип:
    <p4>{{ event_info['type_name'].values[0]}}</p4>
    <br>
    <br>Тема:
    <p4>{{ event_info['theme_name'].values[0]}}</p4>
    <br>
    <br>Организатор:
    <p4>{{ event_info['organizer_name'].values[0]}}</p4>
    <br>
    <br>Количество участников:
    <p4>{{ event_info['participants'].values[0]}}</p4>
    <br>
    <br>Количество зарегистрировавшихся на мероприятие:
    {% if len(participants_list[participants_list['event_id'] ==
    event_info['event_id'].values[0]]['coun']) != 0%}

    <p4>{{participants_list[participants_list['event_id'] ==
        event_info['event_id'].values[0]]['coun'].values[0]}}
    </p4>
    {%else%}
    0
    {%endif%}
    <br>
    {% if event_info['beginning_dat'].values[0] == event_info['expiration_dat'].values[0] %}
    <br>Дата мероприятия:
    <p4>{{ event_info['beginning_dat'].values[0]}}</p4>
    {% else %}
    <p4>{{ event_info['beginning_dat'].values[0]}} - event_info['expiration_dat'].values[0]</p4>
    {% endif %}
    <br>
    <br>Время:
    <p4>{{ event_info['start_time'].values[0]}} - {{ event_info['end_time'].values[0]}}</p4>
    <br>
    <br>Площадка:
    <p4>{{ event_info['location_name'].values[0]}}</p4>
    <br>
    <br>Место проведения:
    <p4>{{ event_info['venue_name'].values[0]}}</p4>
    <br>
    <br>Статус:
    <p4>{{ event_info['status_name'].values[0]}}</p4>
    <br><br><br><br>
    <br>Описание:<br>
    <p4>{{ event_info['description'].values[0]}}</p4>
    <br>

</div>
{% endif %}


{% if rate_window == True %}
<div class="rate_gray">
</div>
<form action="" method="get">
    <div class="cl-btn-7" name="close_button"></div>
    <div class="close_button3">
        <input type="submit" value=" ">
    </div>
</form>
<div class="rate">
    <form action="" method="get">
        <p5 style="font-size:22px;">Оставьте обратную связь и оцените мероприятие</p5>
        <br>
        <select style="margin-top:5%;" name="rate_box">
            <option>Всё очень понравилось</option>
            <option>Всё было хорошо</option>
            <option>Были недостатки</option>
            <option>Совершенно не понравилось</option>
        </select>
        <textarea name="rate_text" placeholder="Оцените мероприятие..."
                  style=" height:30vh;width:100%; margin-top:10%; "></textarea>

        <input type="submit" value="Отправить" name="to_rate_event"
               style="width:20%; height:10%; margin-left:40%; margin-top:10%;margin-bottom:5%;">
    </form>
</div>
{% endif %}

</body>
</html>